### Determining the best machine learning algorithm

In [63]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [64]:
df = pd.read_csv(r'C:\Users\Bharath Setty\Desktop\Sriraksha\Data Science\Datasets - for EDA - class given\daily-bike-share - Sheet1.csv')

In [65]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82

In [66]:
df.yr.value_counts()

yr
1    366
0    365
Name: count, dtype: int64

In [67]:
df.mnth.value_counts()

mnth
1     62
3     62
5     62
7     62
8     62
10    62
12    62
4     60
6     60
9     60
11    60
2     57
Name: count, dtype: int64

In [68]:
df['holiday'].value_counts()

holiday
0    710
1     21
Name: count, dtype: int64

In [69]:
df['weekday'].value_counts()

weekday
6    105
0    105
1    105
2    104
3    104
4    104
5    104
Name: count, dtype: int64

In [70]:
df.workingday.value_counts()

workingday
1    500
0    231
Name: count, dtype: int64

In [71]:
df.weathersit.value_counts()

weathersit
1    463
2    247
3     21
Name: count, dtype: int64

In [72]:
df[['temp','atemp','hum','windspeed']].describe()

             temp       atemp         hum   windspeed
count  731.000000  731.000000  731.000000  731.000000
mean     0.495385    0.474354    0.627894    0.190486
std      0.183051    0.162961    0.142429    0.077498
min      0.059130    0.079070    0.000000    0.022392
25%      0.337083    0.337842    0.520000    0.134950
50%      0.498333    0.486733    0.626667    0.180975
75%      0.655417    0.608602    0.730209    0.233214
max      0.861667    0.840896    0.972500    0.507463

In [73]:
# features = [season, mnth, holiday, weekday, workingday, weathersit - categorical columns(already encoded)], [temp, atemp, hum, windspeed - numerical coumns(already normalised)]   
# target = rentals 
# rejected columns = intant, dteday, yr

In [74]:
# missing values

df.isnull().values.any()

# from output we can see we do not have any missing values

False

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  rentals     731 non-null    int64
dtypes: float64(4), int64(9), object(1)
memory usage: 80.1+ KB

In [76]:
# no objects, proceed further

In [78]:
X = df[['season','mnth','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed']].values
y = df.rentals.values

In [79]:
X[:10]

array([[1.       , 1.       , 0.       , 6.       , 0.       , 2.       ,
        0.344167 , 0.363625 , 0.805833 , 0.160446 ],
       [1.       , 1.       , 0.       , 0.       , 0.       , 2.       ,
        0.363478 , 0.353739 , 0.696087 , 0.248539 ],
       [1.       , 1.       , 0.       , 1.       , 1.       , 1.       ,
        0.196364 , 0.189405 , 0.437273 , 0.248309 ],
       [1.       , 1.       , 0.       , 2.       , 1.       , 1.       ,
        0.2      , 0.212122 , 0.590435 , 0.160296 ],
       [1.       , 1.       , 0.       , 3.       , 1.       , 1.       ,
        0.226957 , 0.22927  , 0.436957 , 0.1869   ],
       [1.       , 1.       , 0.       , 4.       , 1.       , 1.       ,
        0.204348 , 0.233209 , 0.518261 , 0.0895652],
       [1.       , 1.       , 0.       , 5.       , 1.       , 2.       ,
        0.196522 , 0.208839 , 0.498696 , 0.168726 ],
       [1.       , 1.       , 0.       , 6.       , 0.       , 2.       ,
        0.165    , 0.162254 , 0.535833 , 0.266804 ],
       [1.       , 1.       , 0.       , 0.       , 0.       , 1.       ,
        0.138333 , 0.116175 , 0.434167 , 0.36195  ],
       [1.       , 1.       , 0.       , 1.       , 1.       , 1.       ,
        0.150833 , 0.150888 , 0.482917 , 0.223267 ]])

In [80]:
y[:10]

array([331, 131, 120, 108,  82,  88, 148,  68,  54,  41], dtype=int64)

In [108]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\bharath setty\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\bharath setty\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\bharath setty\anaconda3\lib\site-packages (from xgboost) (1.11.1)

In [111]:
import xgboost as xgb

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import r2_score                # for linear regression algorithm

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=18)

In [113]:
model_xg2 = xgb.XGBRegressor().fit(X_train, y_train)         # boosting algorithm  # In xgb, I have the XGBRegressor

model_lin2 = LinearRegression().fit(X_train, y_train)        # linear algorithm
model_ran2 = RandomForestRegressor().fit(X_train, y_train)   # bagging 
model_dt2 = DecisionTreeRegressor().fit(X_train, y_train)    # decision tree

In [116]:
# now the model is trained, let me check the accuracy of the linear regression model

predictions_train = model_lin2.predict(X_train)
predictions_test = model_lin2.predict(X_test)

r2_train = r2_score(y_train, predictions_train)
r2_test = r2_score(y_test, predictions_test)

print('R2 for Linear Regression training:', round(r2_train,2))
print('R2 for Linear Regression testing:', round(r2_test,2))
     
# print('Error for Linear Regression training:', round(1-r2_train,2))
# print('Error for Linear Regression testing:', round(1-r2_test,2))

R2 for Linear Regression training: 0.63
R2 for Linear Regression testing: 0.65

In [ ]:
# for linear regression, I can test on both my training & testing dataset but we should prefer testing dataset
# higher the r2_score, higher is the performance of the model

In [117]:
# checking accuracy of decision tree model

predictions_train = model_dt2.predict(X_train)
predictions_test = model_dt2.predict(X_test)

r2_train = r2_score(y_train, predictions_train)
r2_test = r2_score(y_test, predictions_test)

print('R2 for Decision Tree training:', round(r2_train,2))
print('R2 for Decision Tree testing:', round(r2_test,2))
     
# print('Error for Decision Tree training:', round(1-r2_train,2))
# print('Error for Decision Tree testing:', round(1-r2_test,2))

R2 for Decision Tree training: 1.0
R2 for Decision Tree testing: 0.53

In [118]:
# my decision tree model is working well with the training dataset but is not giving good result with the testing dataset

In [120]:
# checking accuracy of random forest model

predictions_train = model_ran2.predict(X_train)
predictions_test = model_ran2.predict(X_test)

r2_train = r2_score(y_train, predictions_train)
r2_test = r2_score(y_test, predictions_test)

print('R2 for Bagging Random Forest training:', round(r2_train,2))
print('R2 for Bagging Random Forest testing:', round(r2_test,2))
     
# print('Error for Bagging Random Forest training:', round(1-r2_train,2))
# print('Error for Bagging Random Forest testing:', round(1-r2_test,2))

R2 for Bagging Random Forest training: 0.97
R2 for Bagging Random Forest testing: 0.79

In [121]:
# for bagging the training dataset accuracy is better than decision tree & linear algorithm

In [122]:
# checking accuracy of Xgboost model

predictions_train = model_xg2.predict(X_train)
predictions_test = model_xg2.predict(X_test)

r2_train = r2_score(y_train, predictions_train)
r2_test = r2_score(y_test, predictions_test)

print('R2 for XGBOOST  training:', round(r2_train,2))
print('R2 for XGBOOST testing:', round(r2_test,2))
     
# print('Error for XGBOOST training:', round(1-r2_train,2))
# print('Error for XGBOOST testing:', round(1-r2_test,2))

R2 for XGBOOST  training: 1.0
R2 for XGBOOST testing: 0.76

INFERENCE : 

We can observe that Linear Regression, Random Forest & Xgboost algorithm are best fitting model for this data. 

'Among all the 3 algorithms Random Forest Algorithm is giving better accuracy'

So its always better to perform 'COMPARITIVE STUDY of algorithms' to check which algorithm is performing better.